.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070501;
  padding: 10px 20px;
  color: white;
}
.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-item {
  margin-left: 20px;
}
.nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-logo {
  margin-right: auto;
}
.button1 {
  margin: 20px;
  padding: 13px;
  background-color: #070501;
  color: #FCC419;
  border-radius: 25px;
  border-color: #FCC419;
  font-size: medium;
  font-weight: bold;
}
.button2 {
  margin: 20px;
  padding: 13px;
  background-color: #070501;
  color: #FCC419;
  border-radius: 25px;
  border-color: #FCC419;
  font-size: medium;
  font-weight: bold;
}

.nav-carrito-content { 
  display: flex;
  flex-direction: column; 
  position: relative;
}

.nav-carrito-total{
color: white;
font-size: larger;
border-radius: 50%;
padding: 2px 6px;
font-size: 14px;
margin-top: 5px;
width: 15px;
height: 20px;
align-items: self-end;
}